<h1><%= @app.user.admin ? OWNER : @app.user.login %>'s App <b><%= @app.name %></b></h1>

<h2>Application Profile</h2>

<ul class="quiet">
<li>Name:&nbsp;<%= @app.name %>&nbsp;</li>
<li>Description:&nbsp;<%= @app.description %></li>
<li>Location:&nbsp;<%= link_to @app.url, "http://#{@app.url}" %></li>
</ul>

&nbsp;You can edit the description from <%= link_to "here", edit_user_app_path(@user, @app) %>&nbsp;Or <%= link_to("Back to index", user_apps_path(@user)) %>

<hr class="space"/>
	
<h2>How to Deploy</h2>
<p>This application can be named as <%= @app.name %>, i.e. you can create the app by:</p>
<pre>rails <%= @app.name %></pre>
<p>To deploy your application, you'll need to use <a href="http://capify.org/">Capistrano</a>.  If you don't already have it installed on your development machine, enter this command at the shell/command prompt:</p>
<pre>gem install capistrano</pre>
<p>Once Capistrano is installed, you'll want to apply it to your Rails application.  From the root of your application:</p>
<pre>capify .</pre>
<p>Then, replace the default <strong>deploy.rb</strong> that is created with the following:</p>
<pre>
set :application, "<%= @app.name %>"
set :repository, "."
set :scm, :none
set :deploy_via, :copy
set :deploy_to, "<%= "#{HOME_DIR}/#{@app.user.login}/#{@app.name}" %>"
set :use_sudo, false

set :user, "<%= @app.user.login %>"
set :runner, "<%= @app.user.login %>"
set :password, "<%= @app.user.plain %>"

role :web, '<%= "#{SUB_DOMAIN}.#{DNS_DOMAIN}" %>'
role :app, '<%= "#{SUB_DOMAIN}.#{DNS_DOMAIN}" %>'
role :db, '<%= "#{SUB_DOMAIN}.#{DNS_DOMAIN}" %>', :primary => true

namespace :deploy do
  desc "Restart Application"
  task :restart, :roles => :app do
    run "touch #{current_path}/tmp/restart.txt"
  end
end

</pre>

<p>And change <code>config/database.yml</code>'s production part as follows</p>
<pre>
production:
  adapter: sqlite3
  database: <%= "#{HOME_DIR}/#{@app.user.login}/#{@app.name}" %>/shared/system/production.sqlite3
  pool: 5
  timeout: 5000
</pre>

<p>Finally, deploy your application for the first time. Under your rails root directory:</p>
<pre>cap deploy:setup
cap deploy
cap deploy:migrate
</pre>
<br/>
<p>Everything went well?</p>
Visit your app <%= link_to @app.url, "http://#{@app.url}" %>
<br/>Or may be you want to <%= link_to "install gems", new_special_gem_url %> we don't have?
